* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu Light", "Century Gothic", sans-serif;
  color: #393939;
  background-color: rgb(255, 255, 255);
}

body {
  padding-top: 10px;
}

.outerBox {
  max-width: 650px;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 10px 15px 39px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.logintext {
  font-size: 25px;
}

#header {
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
}

button {
  padding: 3px;
  margin: 3px;
}
.maindiv {
}
